<h1>Help Desk</h1>

<table>
  <tr>
    <th>Ticket #</th>
    <th>User</th>
    <th>Problem</th>
    <th>Completed</th>
    <th>Resolution</th>
    <th>Bookmark</th>
    <th>Cancel</th>
    <td></td>
  </tr>  
    @for (t of allTickets; track t.id) {
      <tr app-single-ticket [displayTicket]="t" [favoriteTickets]="Favorites" (bookmark)="AddFav($event)" (delete)="deleteTicket(t)"></tr>            
    }
</table>

<app-favorites [favoriteTickets]="Favorites" (delete)="GetFavs()"></app-favorites>
