<h1>Help Desk</h1>

<table>
  <tr>
    <th>Ticket #</th>
    <th>User</th>
    <th>Report</th>
    <th>Completed</th>
    <th>Resolution</th>
  </tr>  
    @for (t of allTickets; track t.id) {
      <tr>
        <td>{{ t.id }}</td>
        <td>{{ t.user }}</td>
        <td>{{ t.problem }}</td>
        @if (t.completed) {
          <td> </td>
        }
        <td>{{ t.completed }}</td>
        <td>{{ t.resolution }}</td>
      </tr>
    }
</table>

<!-- <h1>Ticket</h1>
<app-ticket-form (SubmittedForm)="addTicket()"></app-ticket-form> -->
<app-favorites></app-favorites>
